    <div class="box">
        <p class="title-up">
            Our Professional Services
        </p>
        <p class="title-down">
            Componente title
        </p>
        <div class="flexboxx-container" style="display: flex;">
            <div class="case-box" style="display: flex;">
                <div class="pet-icon">
                    <img class="dog" src="assets/images/dog-solid.svg">
                </div>
                <div>
                    <p class="pet_case">
                        Pet Boarding
                    </p>
                    <p class="case-describe">
                        Consectetur adipiscing elit, serfd dgo<br />
                        elusmod tempor incididunt ut ore et<br />
                        dolore magna aliqua<br />
                    </p>
                </div>
            </div>
            <div class="case-box" style="display: flex;">
                <div class="pet-icon">
                    <img class="dog" src="assets/images/dog-solid.svg">
                </div>
                <div>
                    <p class="pet_case">
                        Pet Boarding
                    </p>
                    <p class="case-describe">
                        Consectetur adipiscing elit, serfd dgo<br />
                        elusmod tempor incididunt ut ore et<br />
                        dolore magna aliqua<br />
                    </p>
                </div>
            </div>
            <div class="case-box" style="display: flex;">
                <div class="pet-icon">
                    <img class="dog" src="assets/images/dog-solid.svg">
                </div>
                <div>
                    <p class="pet_case">
                        Pet Boarding
                    </p>
                    <p class="case-describe">
                        Consectetur adipiscing elit, serfd dgo<br />
                        elusmod tempor incididunt ut ore et<br />
                        dolore magna aliqua<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
