<div class="toolbar" role="banner">
  <span class="title" style="display: flex;">Zadanie rekrutacyjne</span>
</div>

<div class="contentAppComp">
  <h2>Zadania rekrutacyjne</h2>
  <p>Oto dwa zadania wykonane przez Kamil Flak:</p>
  <div class="cart-container">
    <a class="cart" target="_blank" href="#">
      <span>Nowa strona początkowa</span>
    </a>
    <a class="cart" target="_blank">
      <span routerLink="task1">Zadanie 1</span>
    </a>
    <a class="cart" target="_blank">
      <a routerLink="task2">Zadanie 2</a>
    </a>
  </div>
</div>
<router-outlet></router-outlet>